<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Patient name</font></span>
  </div>
  <input type="text" class="form-control" id="name" required
         [(ngModel)]="name" name="name" style="text-align:center">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Patient surname</font></span>
  </div>
  <input type="text" class="form-control" id="surname" required
         [(ngModel)]="surname" name="surname" style="text-align:center">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Birth date</font></span>
  </div>
  <ngb-datepicker #dp [(ngModel)]="birthDateModel" (navigate)="date = $event.next" style="font-size: 70%"></ngb-datepicker>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">SSN</font></span>
  </div>
  <input type="number" class="form-control" id="ssn" required
         [(ngModel)]="ssn" name="ssn" style="text-align:center">
</div>

<button type="button" class="btn btn-outline-primary  btn-lg" (click)="goAdd()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
  Add Patient
</button>
