<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Input password</font></span>
  </div>
  <input type="text" class="form-control" id="password" required
         [(ngModel)]="password" name="password" style="text-align:center">
</div>
<button type="button" class="btn btn-outline-primary  btn-lg" (click)="showGroups()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
  Show groups
</button>
