<div style="text-align: center"><h1><div>{{patient.name}} {{patient.surname}}</div></h1>
  <h4><div>SSN: <span style="font-style: italic">{{patient.ssn}}</span></div></h4>
  <h4><div>Current Dosage: <span style="font-style: italic">{{patient.currentDosage}}</span></div></h4>
  <h4><div>Birth Date: <span style="font-style: italic">{{patient.birthDate}}</span></div></h4>
  <h4><div style="font-style: italic">Participant of {{patient.phase}} phase of trial</div></h4>
  <h4><div style="font-style: italic">Patient from group {{patientGroup}}</div></h4></div>


<div id="Lists" class="btn-group" role="group" aria-label="List buttons">
  <button type="button" class="btn btn-outline-primary  btn-lg" (click)="isDosagesCollapsed = !isDosagesCollapsed; isObservationsCollapsed = true"
          [attr.aria-expanded]="!isDosagesCollapsed" aria-controls="collapseExample">
    Show Dosages
  </button>

  <button type="button" class="btn btn-outline-primary  btn-lg" (click)="isObservationsCollapsed = !isObservationsCollapsed; isDosagesCollapsed = true"
          [attr.aria-expanded]="!isObservationsCollapsed" aria-controls="collapseExample">
    Show Observations
  </button>
</div>

<div id="Addings" class="btn-group" role="group" aria-label="Adding buttons">
  <button type="button" class="btn btn-outline-primary  btn-lg" (click)="isAddingDosageCollapsed = !isAddingDosageCollapsed; isAddingObservationCollapsed = true"
          [attr.aria-expanded]="!isAddingDosageCollapsed" aria-controls="collapseExample">
    Add new dosage
  </button>

  <button type="button" class="btn btn-outline-primary  btn-lg" (click)="isAddingObservationCollapsed = !isAddingObservationCollapsed; isAddingDosageCollapsed= true"
          [attr.aria-expanded]="!isAddingObservationCollapsed" aria-controls="collapseExample">
    Add new observation
  </button>

</div>



<div id="addingDosageCollapse" [ngbCollapse]="isAddingDosageCollapsed">
  <div class="card">
    <div class="card-body">
      <app-add-new-dosage [dosagesList]="dosagesList" (toggle)="isAddingDosageCollapsed = !isAddingDosageCollapsed; getPatient();"></app-add-new-dosage>
    </div>
  </div>
</div>

<div id="addingObservationCollapse" [ngbCollapse]="isAddingObservationCollapsed">
  <div class="card">
    <div class="card-body">
      <app-add-new-observation [observationsList]="observationsList" (toggle)="isAddingObservationCollapsed = !isAddingObservationCollapsed"></app-add-new-observation>
    </div>
  </div>
</div>

<div id="dosagesCollapse" [ngbCollapse]="isDosagesCollapsed">
  <div class="card">
    <div class="card-body">
      <app-dosages #dosagesList ></app-dosages>
    </div>
  </div>
</div>


<div id="observationsCollapse" [ngbCollapse]="isObservationsCollapsed">
  <div class="card">
    <div class="card-body">
      <app-observations #observationsList></app-observations>
    </div>
  </div>
</div>
