<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Doctor name</font></span>
  </div>
  <input type="text" class="form-control" id="name" required
         [(ngModel)]="name" name="name" style="text-align:center">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Doctor surname</font></span>
  </div>
  <input type="text" class="form-control" id="surname" required
         [(ngModel)]="surname" name="surname" style="text-align:center">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Specialisation</font></span>
  </div>
  <input type="text" class="form-control" id="specialisation" required
         [(ngModel)]="specialisation" name="specialisation" style="text-align:center">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Prefix</font></span>
  </div>
  <input type="text" class="form-control" id="title" required
         [(ngModel)]="title" name="title" style="text-align:center">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">SSN</font></span>
  </div>
  <input type="number" class="form-control" id="ssn" required
         [(ngModel)]="ssn" name="ssn" style="text-align:center">
</div>


<button type="button" class="btn btn-outline-primary  btn-lg" (click)="goAdd()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
  Add Doctor
</button>
