<h2>List of doctors</h2>
<div>
  <button type="button" class="btn btn-outline-primary  btn-lg" (click)="getDoctors()" style="margin-bottom: 10px">
    Update
  </button>
</div>
<div *ngFor="let doctor of doctors" class="alert alert-secondary style"
           style="text-align:center; border-color: cadetblue; border-width: 2px; font-size: 140%">

<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="{{doctor.title}} {{doctor.name}} {{doctor.surname}}">
    <ng-template ngbPanelContent>
      <div   style="text-align: center">Specialisation: {{doctor.specialisation}}</div>
      <div style="text-align: center">SSN: {{doctor.ssn}}</div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>

