<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Study title</font></span>
  </div>
  <input type="text" class="form-control" id="studyTitle" required
         [(ngModel)]="studyTitle" name="studyTitle" style="text-align:center">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Responsible party</font></span>
  </div>
  <input type="text" class="form-control" id="responsibleParty" required
         [(ngModel)]="responsibleParty" name="responsibleParty" style="text-align:center">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Masking</font></span>
  </div>
  <input type="number" class="form-control" id="masking" required
         [(ngModel)]="masking" name="masking">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Password</font></span>
  </div>
  <input type="number" class="form-control" id="password" required
         [(ngModel)]="password" name="password">
</div>

<div class="input-group mb-3">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" style="background-color: cadetblue"><font color="white">Start Date</font></span>
          <ngb-datepicker #dp [(ngModel)]="startDateModel" (navigate)="date = $event.next" style="font-size: 70%"></ngb-datepicker>
        </div>

      </div>
      <div class="col-sm">

        <div class="input-group-prepend">
          <span class="input-group-text" style="background-color: cadetblue"><font color="white">Estimated end date</font></span>

          <ngb-datepicker #dp [(ngModel)]="estimatedEndDateModel" (navigate)="date = $event.next" style="font-size: 70%"></ngb-datepicker>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Study description</font></span>
  </div>
  <textarea type="text" class="form-control" id="studyDescription" required
            [(ngModel)]="studyDescription" name="studyDescription"></textarea>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Treatment description</font></span>
  </div>
  <textarea type="text" class="form-control" id="treatmentDescription" required
            [(ngModel)]="treatmentDescription" name="treatmentDescription"></textarea>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Eligibility criterias</font></span>
  </div>
  <textarea type="text" class="form-control" id="eligibiltyCriterias" required
            [(ngModel)]="eligibilityCriterias" name="eligibiltyCriterias"></textarea>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" style="background-color: cadetblue"><font color="white">Contacts and locations</font></span>
  </div>
  <textarea type="text" class="form-control" id="contactsAndLocations" required
            [(ngModel)]="contactsAndLocations" name="contactsAndLocations"></textarea>
</div>

<div class="input-group mb-3">
  <button type="button" class="btn btn-outline-primary  btn-lg" (click)="goAdd()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Add Trial
  </button>
</div>

